body {
    background-color: peachpuff;
    font-family: 'Indie Flower', cursive;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Josefin Sans', sans-serif;
}
/* Cible tous les éléments ayant la classe "titre" */

* {
    text-align: right;
}

header {
    background-color: #900c3f;
    color:#ffff;
    height:100px;
}

nav {
    background-color: #daf7a6;
    height: 60px;
}

section {
    background: navy;
    height: 550px;
}

article {
    background-color: #ff5733;
    height:66px;
}

footer {
    background-color: #daf7a6 ;
    height:75px;
}

nav, footer {
    color: #a93226;

}

.taille {
    width: 130px;
    background: #E2BF10;

}

.titre {
    color: wheat;
    width: 150px;
}

/* Un selecteur d'identifiant (ID selector) permet, pour un document HTML, de cibler un élément grâce à la valeur de son attribut id */